
.row:after{
	content: "";
	clear: both;
	display: block;
}


.container{
	padding: 0 12% 0 12%;
}


.col-md-4, .col-sm-4, .col-lg-4{
	float: left;
	width: 30%;
	padding: 1%;	
}

.col-md-6, .col-sm-6, .col-lg-6{
	float: left;
	width: 50%;
}
.col-md-8, .col-sm-8, .col-lg-8{
	float: left;
	width: 66%;
}


.col-md-12, .col-sm-12, .col-lg-12{
	float: left;
	width: 100%;
}

.col-md-offset-3, .col-sm-offset-3, .col-lg-offset-3{
	padding: 0 33%;
}


@media only screen and (max-width: 500px) {
	.slide-text h1{
		font-size: 50px;
	}
	.container{
		padding: 0 12%;
	}
	.col-md-4, .col-sm-4, .col-lg-4{
		float: left;
		width: 100%;
		padding: 0;	
	}

	.col-md-6, .col-sm-6, .col-lg-6{
		float: left;
		width: 100%;
	}


}







@media only screen and (min-width: 500px ) and ( max-width: 900px) {
	.container{
		padding: 0 12% 0 12%;
	}
	.col-md-4, .col-sm-4, .col-lg-4{
		float: left;
		width: 48%;
		padding: 1%;	
	}
}