/*
#F5F9F9 xanh nhat
#31384C nen contact
#FBFBFB nen
#5FC3FF xanh
*/

@import url("http://fonts.googleapis.com/css?family=Raleway:200,300,600,700&subset=latin,latin-ext");

body{
	padding: 0;
	margin: 0;
	font-family: "Raleway", Helvetica, Arial, sans-serif;
	color: #333333;
	font-size: 14px;
	font-weight: 200;
	line-height: 1.7857;
	letter-spacing: 0.075em;
}
footer{
	padding: 0;
	margin: 0;
}
h4{
	color: #777777;
}
.divider{
	border-bottom: 1px solid #5FC3FF;
	border-top: 1px solid #5FC3FF;
	width: 30%;
	text-align: center;
}

section{
	padding: 40px 0;
}

/*section heading*/
.section-heading {
	text-align: center;
}
.section-heading h4{
	font-size: 25px;
	margin: 0;
}
.section-heading p{
	margin: 0;

}


/*TABLE CONTENT*/
/*1. HEADER*/
#header{}
#header .navbar{
	height: 70px;
	background: #F5F9F9;

}
.logo img{
	height: 40px;
	padding: 10px;
}

.text-center{
	text-align: center;
}
.align-center{
	align-content: center;
}


/*2. SLIDER*/
#slider{
	background:linear-gradient(
      rgba(44, 54, 75, 0.7), 
      rgba(44, 54, 75, 0.7)),
      url("../images/slide.jpg");
	background-size: cover;
	background-position: center;

}
.slide-content{

}
.slide-text{
	padding-top: 50px;
	padding-bottom: 50px;
	color:#FFFFFF;
}
.slide-text h1{
	margin: 0 25%;
	position: relative;
	font-style: bold;
	font-size: 70px;
	margin-bottom: 10px;
	border-bottom: 2px solid #5FC3FF; 

}
.slide-text p{
}
.slide-text a{
	color:white;
	text-decoration: none;
	padding: 10px 25px;
	border: 1px solid #5FC3FF;

}


/*3. ABOUT*/
#about{
	background-color: #F5F9F9;
}
.about{
}
.about-text {
}
.about-text h4{
	font-size: 30px;
	padding: 10px 0;
	margin: 0;

}
.about-text p{
	margin: 0;
}


/*4. SERVICES*/
#services{

}
.service-items{

}
.service-items i{	
	color:white;
	background: #5FC3FF;
	font-size: 30px;
	padding: 18px;
}



/*5. OUR WORK*/
#our-work{
	background: #F5F9F9;
}

.portfolio-item{
	position: relative;
}
.portfolio-item img{
	width: 100%;
}
.portfolio-item .portfolio-overlay{
	position: absolute;
	background-color: rgba(44, 172, 248, 0.7);
	color: #fff;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
/*	margin-right:0;
	margin-bottom: 1%*/;
	opacity: 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	-o-transform: scale(0.5);
	-ms-transform: scale(0.5);
	transform: scale(0.5);	
}

.portfolio-item:hover .portfolio-overlay{
	opacity: 1;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.portfolio-item .portfolio-overlay  a{
	color: white;
	border: 1px solid white;
	padding: 5px;
	position: relative;
	top: 47%;
}







/*6. CONTACT*/
#contact{
}

#contact{
	
	position: relative;
	background:linear-gradient(
      rgba(44, 54, 75, 0.7), 
      rgba(44, 54, 75, 0.7)
    ),url('../images/road.jpg');


	background-size: cover;
	background-position: center;

}
.contact .section-heading h4{
	color:white;
}

.contact .section-heading p{
	color:white;
}


.contact-form{
	padding: 0;
	margin: 0;
}
.contact-form input, .contact-form textarea, .btn-send{
	color:white;
	border-radius: 2px;
}


.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea 
{
	width: 100%;
	background:transparent;
	border: 1px solid #999;
	box-sizing:border-box;
	padding: 15px 20px;
	margin:10px 0;

}

.contact-form input[type='checkbox']{
	float: left;
	margin-top: 15px;

/*	margin-left: 10%;*/

}
.contact-form  span{
	color:white;
	float: left;
	font-size: 12px;
	padding-top: 15px;
}



.contact-form input[type="submit"]{
	float: right;
	background:transparent;
	color:white;
	border: 1px solid #999;
	/*margin-right: 10%;*/
	padding: 10px 20px;
	margin: 0;

}


.scroll-top{
	/*display: none;*/

}

.scroll-top a{
	color:white;
	background: #999999;
	padding: 10px;
	position: fixed;
	bottom: 2em;
	right: 2em;
}






/*7. FOOTER*/
#footer{

	background: #F5F9F9;
}

#footer h4{


	font-weight: 500;
	color: #555;
}

#footer .social-icons a{
	background-color:#5FC3FF; 
	padding:5px 10px;
	color:white;
	float: right;
	margin: 3px;
}

#footer .social-icons{
	padding-top: 10px;

}



